{% extends "base.html" %}

{% block title %}
{{ block.super }} - Home Page
{% endblock title %}

{% block page_title %}
Your Subscription - {{ block.super }}
{% endblock page_title %}

{% block content %}
<h1 class="text-center">Your Subscription</h1>
<form action="" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Refresh</button>
</form>
<p>Status: {{ subscription.status }}</p>
<p>Plan: {{ subscription.plan_name }}</p>
<p>Current Period Start: {{ subscription.current_period_start }}</p>
<p>Current Period End: {{ subscription.current_period_end }}</p>

{% endblock %}
 